html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}

body.hide_images .triangle_image{
  display: none;
}

body.hide_text text{
  display: none;
}

body.hide_text text.never_hide{
  display: inline;
}

#intro {
  padding: 2em;
}

svg {
  margin-bottom: 2em;
}

#controls {
  display: flex;
}

[hidden] {
  display: none;
}

#controls > * {
  flex: 1;
  padding: 2em;
}

#controls form {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.on_top polygon{
   fill: transparent;
}

.on_top.has_text polygon{
    fill: #FFF;
}

#options label {
  text-align: right;
}

#options input {
  width: 70%;
}

#controls form > * {
  padding: 0.2em;
  margin: 2px;
}

#hex {
  flex: 0 0 350px;
  padding: 2em;
}

#download-file {
  background-color: green;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  margin-top: 1em;
}

@media print {
  .noprint {
    display: none !important;
  }
}
