html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}

svg {
  margin-bottom: 2em;
}

#controls {
  display: flex;
}

#controls > * {
  flex: 1;
  padding: 2em;
}

#controls form {
  display: flex;
  flex-direction: column;
}

#controls form > * {
  padding: 0.2em;
  margin: 2px;
}

#hex {
  flex: 0 0 350px;
  padding: 2em;
}

#download-file {
  background-color: green;
  color: white;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  margin-top: 1em;
}

@media print {
  .noprint {
    display: none !important;
  }
}
